 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
.navbar {
    background-color: #B31312; /* Warna latar belakang navbar */
    color: #fff; /* Warna teks */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
}


.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.search {
     /* Bagian pencarian akan memanjang dan mengisi sisa ruang */
    display: flex;
    margin: 0 20px;
    background: white;
    border-radius: 10px;
}

.search img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.search input {
    flex: 1;
    width: 40vw;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.cart button {
        background: transparent;
        cursor: pointer;
        transition: background 0.3s;
        border: none;
        position: relative;
        top: 5px;
}
.cart img {
    width: 30px;
}
.kategori {
    height: auto;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kategori button {
    background: transparent;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    border: none;
    padding: px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: medium;
    height: auto;
    width: auto;
}

.kategori button:hover {
    background: rgba(0, 0, 0, 0.2);
}

.container-nav {
    display: flex;
}
.buttons button {
    background-color: #2b3d4f; /* Warna tombol Login dan Daftar */
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.shop-list {
    width: 100%;
    height: 70px;
    background-color: #c5c5c5;
    align-items: center;
    justify-content: center;
    display: flex;
}
.shop-list b {
    font-size: 25px;
}
.container-prod {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card-wrapper {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    border: solid 3px rgb(114, 114, 114);
    border-radius: 10px;
}
.desc h3,
.desc p {
    text-align: center;
    color: black;
    padding: 10px;
}
.desc p {
    height: 79px;
    width: 100%;
}
.buy {
    width: 100%;
    height: 75px;
    background-color: #d6d6d6;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 0 0 5px 5px;
}
.buy button,
.buy span {
    margin: 0 30px;
}
.buy button {
    padding: 5px;
    width: 70px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    background: #B31312;
    color: aliceblue;
    cursor: pointer;
}
#buy:hover {
    background-color: #43484e;
}
.buy span {
    font-weight: 500;
}
.card-image img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}
.container-main {
    background: #666666;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 80vw;
    height: 100%;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    /* margin: 20px; */
    margin-bottom: 90px;
}

/* Mengatur tampilan label pada form */
form label {
    display: block; /* Membuat label menjadi blok */
    text-align: left; /* Rata kiri */
    font-weight: bold;
    margin-bottom: 5px; /* Jarak bawah antara label dan input */
}

/* Mengatur tampilan input pada form */
form input[type="text"],
form input[type="email"],
form input[type="number"] {
    width: 100%; /* Lebar input 100% dari wadahnya */
    padding: 10px;
    margin-bottom: 10px; /* Jarak bawah antara input */
    border: 1px solid #ccc;
    border-radius: 3px;
}
.setuju {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.setuju #status {
    margin-top: 10px;
}

/* Mengatur tampilan tombol pada form */
form button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 200px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#warning {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.header {
    height: 100vh;
}

.header h1, p {
    color: #fff;
}

h1, #description {
    text-align: center;
}

.header h1 {
    font-size: 70px;
}

#lapaq-title {
    color: #fe2e2e;
    font-size: 93px; 
}

.bg-header {
    height: 100%;
    width: 100%;
    position: absolute;
    filter: blur(1px) brightness(15%);
}

#description {
    font-size: 30px;
    color: rgb(223, 223, 223);
}

.title-header {
    padding-top: 40vh;
    position: relative;
}
.con-link {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.con-link img {
    height: 25px;
    margin-top: 5px;
}
#link {
    text-decoration: none;
    text-align: center;
    padding-left: 5px;
    font-size: 30px;
    color: white;
}
.main-prod {
    display: flex;
    height: 100vh;
    width: 100%;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
}

.footer-section-about,
.footer-section-links,
.footer-section-contact {
    flex: 1;
    max-width: 300px;
    margin: 0 20px;
    text-align: left;
}

.footer-section-about h2,
.footer-section-links h2,
.footer-section-contact h2 {
    color: #ff9900;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section-about p,
.footer-section-links ul,
.footer-section-contact ul {
    color: #fff;
}

.footer-section-about p {
    font-size: 14px;
}

.footer-section-links ul {
    list-style-type: disc;
}

.footer-section-links ul li {
    margin-bottom: 5px;
}

.footer-section-links ul li a {
    text-decoration: none;
    color: #fff;
}

.footer-section-contact ul li {
    margin-bottom: 8px;
}

.footer-section-contact span {
    font-weight: bold;
}


/* Responsiveness */
/* @media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .search {
        margin-top: 10px;
    }

    .buttons {
        margin-top: 10px;
    }

    .buttons button {
        margin-top: 10px;
        margin-left: 0;
    }
} */